.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: max-content;
  padding: 1em 2em;
  font-family: "Messina Sans Mono";
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  border-radius: 0.4em;
  background-color: var(--fg);
  color: var(--bg);
  -webkit-font-smoothing: antialiased;
}
